html {
    height: 120%;
    font-family: "Roboto";
}

body {
    height: 120%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: black;
    flex: .05;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    flex: .6;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    flex: .6
}

.footer {
    background-color: brown;
    flex: .1
}

.hero > img {
    width: 30%;
}

.text {
    width: 21%;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

.tbd {
    margin-left: 5%;
    color: white;
    font-weight: bolder;
}

.links {
    padding: 0px;
    margin: 0px;
    display: flex;
    color: white;
    list-style: none;
    margin-right: 5%;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content > h1 {
    align-self: center;
    margin-top: 2%;
    padding: 0px;
    font-size: 50px;
}

.content > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -2%;
}

.food-item {
    height: 50%;
    text-align: center;
    color: darkslategrey;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.food-item img {
    height: 90%; 
    width: 90%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Old CSS */

.recipe-page .header {
    background-color: yellow;
    margin: 0px auto;
}

body.recipe-page {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    background-color: lightcoral;
    border: 1px solid black;
    margin-bottom: 15px;
}

.image img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.ingredients li,
.steps li
{
    background-color: aliceblue;
}

.ingredients h2,
.steps h2,
.recipe-description h2 {
    background-color: lightblue;
    border: 1px solid black;
}

.ingredients ul,
.steps ol {
    border: 1px solid black;
    margin-top: 0px;
}

.recipe-description h2,
.ingredients h2, 
.steps h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 3px solid black;
}

.recipe-description {
    color: red;
    border: 1px solid black;
    background-color: aliceblue;
    margin-bottom: 15px;
}

.ingredients {
    color: green;
}

.steps {
    color: darkblue;
}
